.nav{
    height: 20vh;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #000000;
    color: white;
}
  
.navContent{
    height: 70%;
}

.navTitleWrapper{
    margin: 0px 300px 0px 300px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, darkRed);
}

.navLinks{
    padding: 0px 300px 0px 300px;
    height: 30%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(41, 41, 41);
    border: 2px solid rgb(33, 199, 0);
}
  
.navLinks a:link {
    color: rgb(33, 199, 0);
    margin: 5px;
    background-color: transparent;
    text-decoration: underline;
}
  
.navLinks a:visited {
    color: rgb(33, 199, 0);
    background-color: transparent;
    text-decoration: underline;
}
  
.navLinks a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

.navUserCard{
    float: right;
    padding: 5px;
    padding-right: 15px;
}

.navUserAvatar{
    height: 50px;
    border-radius: 9999px;
}